## Capstone Week 3 - Part 1 - Webscraping the Wikipedia table and curate it

**Import modules and create BeautifulSoup object**

In [1]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd
import numpy as np

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [23]:
#create a soup object based in the webpage and find the table
data  = requests.get(url).text 
soup = BeautifulSoup(data,"xml")
table = soup.find('table',{'class':'wikitable sortable'})

In [34]:
data = []
for row in table.find_all('tr'):
    data.append([t.text.strip() for t in row.find_all('td')])

In [35]:
df = pd.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df = df[~df['PostalCode'].isnull()]

In [36]:
df.head()

  PostalCode           Borough              Neighbourhood
1        M1A      Not assigned               Not assigned
2        M2A      Not assigned               Not assigned
3        M3A        North York                  Parkwoods
4        M4A        North York           Victoria Village
5        M5A  Downtown Toronto  Regent Park, Harbourfront

In [37]:
df.shape

(180, 3)

**Drop Boroughs that are "Not assigned" and check for Neighbourhoods that are "Not assigned"**

In [42]:
df = df[df.Borough != "Not assigned"]

In [44]:
df.shape

(103, 3)

In [46]:
#check if row number in shapes equals unique rows of PostalCode to filter duplicate PostalCode
df.groupby('PostalCode')["Borough"].nunique()

PostalCode
M1B    1
M1C    1
M1E    1
M1G    1
M1H    1
      ..
M9N    1
M9P    1
M9R    1
M9V    1
M9W    1
Name: Borough, Length: 103, dtype: int64

In [70]:
#check for not assigned Neighbourhoods
df.loc[df["Neighbourhood"]=="Not assigned"]

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

In [71]:
#second check
df[df.Neighbourhood.str.startswith('Not')]

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

**Verify final dataframe shape with row number**

In [74]:
df.head()

  PostalCode           Borough                                Neighbourhood
3        M3A        North York                                    Parkwoods
4        M4A        North York                             Victoria Village
5        M5A  Downtown Toronto                    Regent Park, Harbourfront
6        M6A        North York             Lawrence Manor, Lawrence Heights
7        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [75]:
df.shape

(103, 3)